# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
.venv/
venv/

# Ignore dataset
*.xlsx

# VS Code specific settings
.vscode/
